@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Bebas Neue &  Roboto*/


* {
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
}

.btn {
    background: rgb(164, 188, 70);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: rgb(106, 129, 15);
    box-shadow: 0 10px 20px rgba(73, 166, 6, 0.3);
}